* {
    box-sizing: border-box;
  }
  *, :after, :before {
      border: 0 solid #ebebeb;
  }
  h1 {
    font-size:1.75rem; /*1rem = 16px*/
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h1,
  h2,
  h3 {
    cursor: default;
    text-transform: uppercase;
  }
  
  nav {
      display: block;
  }
  a {
      background-color: transparent;
      color: inherit;
      text-decoration: inherit;
      cursor: pointer;
  }
  
  p {
    font-size: 16px;
    cursor: default;
  }

  html, body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
body {
  min-height: 100vh;
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}