$flex: flex;

.flex {
    display: $flex;
}

.container {
    width: 100%;
}

.relative {
    position: relative;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.absolute {
    position: absolute;
}

.overflow {
    overflow: hidden;
}

.teal {
    color: #66FCF1;
  }
  .h-screen {
    min-height: 100vh;
  }
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .mb-6 {
    margin-bottom: 1.5rem;
  }
  .mt-10 {
    margin-top: 2.5rem;
  }
  .px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .px-6 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .items-center {
    align-items: center;
  }
  .opacity-75 {
      opacity: .75;
  }
  .font-black {
      font-weight: 800;
  }
  .bg-teal {
    background-color: #66FCF1;
  }